@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);


@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Minimo.otf);
  }
  
  
html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: #999
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s
}

.uppercase {
    text-transform: uppercase;
    color: #d1d1d1;
}

.h-30 {
    height: 30px
}
#abt{
    font-family: myFirstFont !important;
    font-size:large ;
    line-height: 1.5; 
  }

.h-10 {
    height: 10px
}

.color {
    color: #ffbf00;
    font-size: 11px;
}


h1 {
    color: #efefef;
    font-size: 60px;
    text-transform: uppercase;
}

h3 {
    color: #393939;
}

h5 {
    color: #ffbf00;
    font-family:myFirstFont;
    font-size: large;
}



#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should be a color other than white */
    z-index: 1000;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 20%;
    border-radius: 15%;
    background-color: #ffbf00;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

nav {
	--width: 130px;
	--height: 40px;
	z-index: 1;
	position: fixed;
	top: 20px;
	left: calc(50% - var(--width) / 2);
	display: grid;
	width: var(--width);
	grid: var(--height) / auto-flow;
	justify-content: space-evenly;
	align-items: center;
	border-radius: calc(var(--height) / 2);
	font: 500 15px -apple-system, BlinkMacSystemFont, sans-serif;
	background: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
}
nav a {
	text-decoration: none;
}


.copyright a{
    text-decoration: none;
    cursor: pointer;
}


.open{
    padding-top: 35vh;
    text-align: center;
}

.open h1{
    color: #ffffff;
}
.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

b i:last-child {
    color: #ffbf00 !important;
}

.box-intro h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.7
}





#foo { background: #363638;
    height: 100vh ;

    background-image:url('../img/home.png') ;
    background-repeat: no-repeat;
    background-position:center; 
    background-size:cover;
}
#bar { background: #ffffff;
    height: 100vh;
    background-attachment: fixed;
    background-image:url('../img/studio.jpg') ;
    background-repeat: no-repeat;
    background-position:center; 
    background-size:cover;
 }
#baz { background: #222222; 
    height: 100vh;
    background-image:url('../img/Untitled-1.png') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y:center ;  
    background-size:cover;}

    @media only screen and (max-width: 995px) and (min-width: 0px){
        #baz {
            background-image:url('../img/vrand.png') ;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: right;
            
            background-size:cover;
        }
    }


#cont { background: #ffffff;
   
 }

        



     

.box-headline {
    font-size: 130px;
    line-height: 1.0;
}

.box-words-wrapper {
    display: inline-block;
    position: relative;
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}





footer {
    padding: 30px 0;
   
    background: #e7e7e7;
    height:42vh;
    
}
#space{
    height: 13vh;
    color: #e7e7e7;
   
}
.copyright {
    color: #9e9e9e;
	justify-content: space-evenly;
	align-items: left;
    font: 500 15px -apple-system, BlinkMacSystemFont, sans-serif;
    
}

.socs{
    padding-top: 90px;
}
.foot-head{
    text-align: left;
    color: #ccc;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-size: small;
    margin-bottom: 0px;
}



footer img {
    margin: 0 auto;
}



.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    line-height: 40px;
    font-size: 20px;
    right: 10px;
    text-align: center;
    color: #fff;
    background: rgba(255, 191, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover,
.no-touch .cd-top:focus {
    background-color: #ffbf00;
    opacity: 1;
    color: #fff;
}


.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #ffbf00;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-family: myFirstFont;
    font-style: normal;
    display: inline-block;
    border-radius: 15px;
    background-color:rgba(255, 191, 0, .7);
    padding: 5px 20px;
    color: #333;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 11px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}





.cat-ul {
    padding-left: 0;
    list-style: none
}

.cat-ul li i {
    margin-right: 10px;
    color: #ffbf00;
}




@media only screen and (max-width: 670px) {
    .box-headline {
        font-size: 100px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 14px;
    }
    .box-primary-nav {
        padding: 80px 0 0;
    }
    .box-primary-nav .box-social a {
        font-size: 23px;
    }
    .top-bar h1 {
        font-size: 40px;
        line-height: 30px;
    }
    .portfolio .categories-grid .categories ul li {
        float: none;
    }
}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .main-container {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 420px) {
    .box-headline {
        font-size: 50px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .top-bar h1 {
        font-size: 30px;
        line-height: 30px;
    }
}

